/**  stylus 公共mixin **/
/*你用伪类实现1px*/
border-1px($color)
  position: relative
  border:none
  &:after
    position: absolute
    display: block
    content: " "
    left:0
    bottom :0
    width :100%
    border-bottom : 1px solid $color /* no */

bg-img($url)
  background-image: url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio:3) , (min-device-pixel-ratio:3)
    background-image: ($url + '@3x.png')
no-border()
  &:after
    display:none
